
body {
    font-family: Arial, sans-serif;
    margin: 0%;
  }
  .header, .footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 10px;
  }
  .container {
    display: flex;
    min-height: 600px;
  }

  .sidebar{
    padding: 15px;
    text-align: center;
    background-color:#f4f4f4;
    width: 20%;
  }
  
  .sidebar-box {
    background-color: #0073e6;
    border-radius: 5px;

    
}

  .icon {
    width: 70px;
    height: 70px;
    padding: 15px;
}
  .content {
    background-color: white;
    width: 80%;
    text-align: center;
    display: flex; /* Tambahkan properti display flex */
    flex-wrap: wrap;
    justify-content: center; /* Mengatur agar flex items berada di tengah secara horizontal */
    align-items: center; /* Mengatur agar flex items berada di tengah secara vertikal */
  }
  
  .footer {
    font-size: 14px;
  }

  .txt-bold {
    font-weight: bold;
  }

  .label {
    background-color: #0073e6;
    color: #f4f4f4;
    padding: 5px;
    border-radius: 5px;
    
  }

  .label2 {
    color:#f4f4f4;
    text-decoration: none; 
    font-weight: bold;
    

  }

  .tanpatitik {
    list-style-type: none;
    font-size: bold;
    padding: 5px;

  }
  
  .list {
    margin: 20px;
   padding: 15px;
   text-align: center;
   border: 1px solid #FFFFFF;
  }

  .box-kiri, .box-tengah, .box-kanan{
    text-align: center;
    align-content: center;
    width: 300px; /* Lebar disesuaikan dengan kebutuhan */
    height: 320px;
    background-color: #0073e6;
    padding-top: 30px;
    padding-bottom: 7px;
    margin: 20px; /* Margin diatur ulang */
    border-radius: 10px;
    flex: 1 0 200px; /* Menyesuaikan lebar setiap box */
  }

  .parent{
    display: flex;
  }